.Select {
    display: flex;
    flex-direction: column;
}

.Select select {
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid lightgrey;
    border-radius: .4rem;
    text-align: center;
}

.Select label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .3rem;
}
