.Input {
    display: flex;
    flex-direction: column;
    margin: 1rem ;
}

.Input input {
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid lightgrey;
    border-radius: .4rem;
    text-align: center;
}

.Input label {
    font-size: 1.2rem;
    font-weight: bold;
}
