.Card {
    width: 100%;
    border-radius: .5rem;
    padding: 1rem;
    margin: .5rem 0;
    background-color: white;
    display: flex;
}

.Card:hover {
    cursor: default;
}

.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.Info > h6 {
    text-align: center;
    text-transform: uppercase;
}

.Info > p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.Icon {
    flex: .3;
    font-size: 5rem;
}

.Icon:hover {
    transition: all 250ms ease-out;
    transform: rotate(35deg);
}

.blue {
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary);
}

.blue  p, .blue h6 {
    color: var(--color-secondary);
}

.yellow {
    border: 2px solid var(--color-yellow);
    color: var(--color-yellow);
}

.yellow:hover, .blue:hover, .green:hover, .red:hover, .black:hover {
    box-shadow: 0 0 1em rgba(0,0,0,.3);
}

.yellow p, .yellow h6 {
    color: var(--color-yellow);
}

.green {
    border: 2px solid var(--color-green);
    color: var(--color-green);
}

.green p, .green h6 {
    color: var(--color-green);
}

.red {
    border: 2px solid red;
    color: red;
}

.red p, .red h6 {
    color: red;
}

.black {
    border: 2px solid var(--color-dark);
    color: var(--color-dark);
}

.black p, .black h6 {
    color: var(--color-dark);
}
