.Button {
    margin: .5rem 0;
}

.Button button {
    padding: .8rem;
    font-size: 1.4rem;
    width: 100%;
    color: white;
    border-radius: .4rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.default {
    background-color: var(--color-primary);
}

.success {
    background-color: var(--color-blue);
}

.danger, .reprove {
    background-color: var(--color-danger);
}

.save {
    background-color: var(--color-primary);
}

.outline {
    background: transparent;
    border: 1px solid var(--color-primary);
}

.back {
    background-color: var(--color-light-dark);
}

.Issue {
    padding: 2rem;
    border-radius: .25rem;
    background-color: var(--color-success);
    border: 1px solid green;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
